# PARTE 17: LIMPIEZA Y MODIFICACIÓN DE DATASET

## PARTE 17.1: MUESTRA DE INFORMACIÓN DEL DATASET

In [130]:
import pandas as pd
RUTA = "DATASETS - CERTIFICACIÓN/16_2_CARGA_XLS_COMPUTACION_BRASIL.xlsx"
DATASET = pd.read_excel(RUTA,"Sheet1")

In [3]:
#PARA MOSTRAR SOLO LA CABECERA (5 FILAS):
DATASET.head()

,time,Rank,Product Names,Stars,Reviews,Authors/Company,Edition/Console,Price_std_or_min,Max_prices
0,2020-08-01 18:22,1,"Wacom One CTL472 - Mesa Digitalizadora, Preto ...",NaN,NaN,NaN,NaN,379.00,NaN
1,2020-08-01 18:22,2,Multilaser MO251 - Mouse Sem Fio 2.4 Ghz 1200 ...,NaN,NaN,NaN,NaN,29.90,NaN
2,2020-08-01 18:22,3,"Suporte para Notebook, OCTOO, Uptable, UP-BL, ...",NaN,NaN,NaN,NaN,47.54,NaN
3,2020-08-01 18:22,4,Repetidor Expansor TP-Link Wi-Fi Network 300Mb...,NaN,NaN,NaN,NaN,151.99,NaN
4,2020-08-01 18:22,5,Mouse Logitech M170 Wireless Preto - 910-004940,NaN,NaN,NaN,NaN,58.13,NaN

In [5]:
#PARA MOSTRAR N FILAS DE LA CABECERA:
DATASET.head(7)

,time,Rank,Product Names,Stars,Reviews,Authors/Company,Edition/Console,Price_std_or_min,Max_prices
0,2020-08-01 18:22,1,"Wacom One CTL472 - Mesa Digitalizadora, Preto ...",NaN,NaN,NaN,NaN,379.00,NaN
1,2020-08-01 18:22,2,Multilaser MO251 - Mouse Sem Fio 2.4 Ghz 1200 ...,NaN,NaN,NaN,NaN,29.90,NaN
2,2020-08-01 18:22,3,"Suporte para Notebook, OCTOO, Uptable, UP-BL, ...",NaN,NaN,NaN,NaN,47.54,NaN
3,2020-08-01 18:22,4,Repetidor Expansor TP-Link Wi-Fi Network 300Mb...,NaN,NaN,NaN,NaN,151.99,NaN
4,2020-08-01 18:22,5,Mouse Logitech M170 Wireless Preto - 910-004940,NaN,NaN,NaN,NaN,58.13,NaN
5,2020-08-01 18:22,6,MULTILASER Combo Teclado e Mouse Sem Fio de En...,NaN,NaN,NaN,NaN,82.99,NaN
6,2020-08-01 18:22,7,Base Cooler Vertical Para Notebook Multilaser ...,NaN,NaN,NaN,NaN,64.49,NaN

In [6]:
#PARA MOSTRAR SOLO LA COLA (5 FILAS):
DATASET.tail()

,time,Rank,Product Names,Stars,Reviews,Authors/Company,Edition/Console,Price_std_or_min,Max_prices
34495,2020-10-01 22:37,46,Mouse Pad Ergonomico Gel ERG-102 Preto FORTREK,4.5,956.0,NaN,NaN,28.51,NaN
34496,2020-10-01 22:37,47,"C3Tech NBC-50 Base para Notebook, Preto",4.6,2135.0,NaN,NaN,74.90,NaN
34497,2020-10-01 22:37,48,Base Cooler Vertical Para Notebook Multilaser ...,4.6,2251.0,NaN,NaN,137.89,NaN
34498,2020-10-01 22:37,49,Garrafa De Tinta Original Epson Ecotank 544 Pr...,4.7,276.0,NaN,NaN,43.90,NaN
34499,2020-10-01 22:37,50,"Cabo HDMI X DVI-D HMD-201 1, 8m, Fortrek",4.6,214.0,NaN,NaN,32.56,NaN

In [7]:
#PARA MOSTRAR N FILAS DE LA COLA:
DATASET.tail(7)

,time,Rank,Product Names,Stars,Reviews,Authors/Company,Edition/Console,Price_std_or_min,Max_prices
34493,2020-10-01 22:37,44,TP-Link AC1200 - Archer C6 Roteador Wireless D...,4.7,973.0,NaN,NaN,359.00,NaN
34494,2020-10-01 22:37,45,"Fortrek PRO M7 RGB - Mouse Gamer, Preto",4.7,1670.0,NaN,NaN,75.90,NaN
34495,2020-10-01 22:37,46,Mouse Pad Ergonomico Gel ERG-102 Preto FORTREK,4.5,956.0,NaN,NaN,28.51,NaN
34496,2020-10-01 22:37,47,"C3Tech NBC-50 Base para Notebook, Preto",4.6,2135.0,NaN,NaN,74.90,NaN
34497,2020-10-01 22:37,48,Base Cooler Vertical Para Notebook Multilaser ...,4.6,2251.0,NaN,NaN,137.89,NaN
34498,2020-10-01 22:37,49,Garrafa De Tinta Original Epson Ecotank 544 Pr...,4.7,276.0,NaN,NaN,43.90,NaN
34499,2020-10-01 22:37,50,"Cabo HDMI X DVI-D HMD-201 1, 8m, Fortrek",4.6,214.0,NaN,NaN,32.56,NaN

In [13]:
#PARA SABER LA CANTIDAD DE FILAS Y COLUMNAS DEL DATASET
print(DATASET.shape)
print(DATASET.shape[0]) #FILAS
print(DATASET.shape[1]) #COLUMNAS

(34500, 9)
34500
9

In [15]:
#NOMBRE DE LAS COLUMNAS DEL DATASET
DATASET.columns.values

array(['time', 'Rank', 'Product Names', 'Stars', 'Reviews',
       'Authors/Company', 'Edition/Console', 'Price_std_or_min',
       'Max_prices'], dtype=object)

In [16]:
#INFORMACIÓN DE LAS COLUMNAS QUE SON NUMÉRICAS
DATASET.describe()

,Rank,Stars,Reviews,Authors/Company,Edition/Console,Price_std_or_min,Max_prices
count,34500.000000,27085.000000,27085.000000,0.0,0.0,34106.000000,0.0
mean,25.500000,4.554554,2766.063356,NaN,NaN,271.415529,NaN
std,14.431079,0.275569,6682.083448,NaN,NaN,683.243125,NaN
min,1.000000,1.000000,1.000000,NaN,NaN,0.010441,NaN
25%,13.000000,4.500000,283.000000,NaN,NaN,29.900000,NaN
50%,25.500000,4.600000,840.000000,NaN,NaN,59.000000,NaN
75%,38.000000,4.800000,1902.000000,NaN,NaN,159.900000,NaN
max,50.000000,5.000000,43784.000000,NaN,NaN,5280.000000,NaN

In [18]:
#INFORMACIÓN DE TODAS LAS COLUMNAS
DATASET.dtypes

time                 object
Rank                  int64
Product Names        object
Stars               float64
Reviews             float64
Authors/Company     float64
Edition/Console     float64
Price_std_or_min    float64
Max_prices          float64
dtype: object

## PARTE 17.2: ANÁLISIS DE VALORES FALTANTES

In [19]:
#ACCEDER A SOLO UNA COLUMNA DEL DATASET
DATASET["Stars"]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
34495    4.5
34496    4.6
34497    4.6
34498    4.7
34499    4.6
Name: Stars, Length: 34500, dtype: float64

In [20]:
#PARA SABER SI EL VALOR ES NULO:
import pandas as pd
pd.isnull(DATASET["Stars"])

0         True
1         True
2         True
3         True
4         True
         ...
34495    False
34496    False
34497    False
34498    False
34499    False
Name: Stars, Length: 34500, dtype: bool

In [22]:
#PARA SABER SI EL VALOR NO ES NULO:
import pandas as pd
pd.notnull(DATASET["Stars"])

0        False
1        False
2        False
3        False
4        False
         ...
34495     True
34496     True
34497     True
34498     True
34499     True
Name: Stars, Length: 34500, dtype: bool

In [24]:
#CONTAR CUÁNTOS VALORES SON NULOS DE DICHA COLUMNA
pd.isnull(DATASET["Stars"]).values.sum()

7415

In [25]:
#CONTAR CUÁNTOS VALORES NO SON NULOS DE DICHA COLUMNA
pd.notnull(DATASET["Stars"]).values.sum()

27085

## PARTE 17.3: MODIFICACIÓN Y ELIMINACIÓN DE VALORES FALTANTES

#### ELIMINACIÓN

In [126]:
#PARA ELIMINAR LA FILA O COLUMNA QUE TENGA TODOS SUS VALORES FALTANTES:
#AXIS=0 -> FILA / EJE HORIZONTAL
#AXIS=1 -> COLUMNA / EJE VERTICAL

#ESTE COMANDO SOLO MUESTRA UNA VISTA, NO ELIMINA; PARA ELIMINAR TIENES QUE REASIGNAR EL DATASET
DATASET = DATASET.dropna(axis=0, how="all")

In [128]:
#PARA ELIMINAR LA FILA O COLUMNA QUE TENGA ALGÚN VALORES FALTANTES:
#AXIS=0 -> FILA / EJE HORIZONTAL
#AXIS=1 -> COLUMNA / EJE VERTICAL

#ESTE COMANDO SOLO MUESTRA UNA VISTA, NO ELIMINA; PARA ELIMINAR TIENES QUE REASIGNAR EL DATASET
DATASET = DATASET.dropna(axis=0, how="any")

In [131]:
#RECOMENDACIÓN:
#APLICA SIEMPRE EL SIGUIENTE COMANDO:
DATASET = DATASET.dropna(axis=1, how="all")

#### MODIFICACIÓN DE TODO EL DATASET

In [136]:
#PARA CREAR UN BACKUP DE UN DATASET, DEBES UTILIZAR EL SIGUIENTE COMANDO:
DATASET_BK = DATASET.copy()

In [137]:
#fillna, PERMITE RELLENAR LOS VALORES FALTANTES CON ALGÚN VALOR
#ESTE COMANDO SOLO MUESTRA UNA VISTA, NO MODIFICA; PARA MODIFICAR TIENES QUE REASIGNAR EL DATASET
DATASET_BK = DATASET_BK.fillna("-")

#### MODIFICACIÓN DE 1 COLUMNA DEL DATASET

In [139]:
#PARA CREAR UN BACKUP DE UN DATASET, DEBES UTILIZAR EL SIGUIENTE COMANDO:
DATASET_BK = DATASET.copy()

In [141]:
#fillna, PERMITE RELLENAR LOS VALORES FALTANTES CON ALGÚN VALOR
#ESTE COMANDO SOLO MUESTRA UNA VISTA, NO MODIFICA; PARA MODIFICAR TIENES QUE REASIGNAR EL DATASET
DATASET_BK["Stars"] = DATASET_BK["Stars"].fillna("-")

#### MODIFICACIÓN DE 1 COLUMNA DEL DATASET CON CÁLCULOS

In [170]:
#PARA CREAR UN BACKUP DE UN DATASET, DEBES UTILIZAR EL SIGUIENTE COMANDO:
DATASET_BK = DATASET.copy()

In [144]:
#fillna, PERMITE RELLENAR LOS VALORES FALTANTES CON ALGÚN VALOR
#ESTE COMANDO SOLO MUESTRA UNA VISTA, NO MODIFICA; PARA MODIFICAR TIENES QUE REASIGNAR EL DATASET
DATASET_BK["Stars"] = DATASET_BK["Stars"].fillna(DATASET_BK["Stars"].mean())

In [147]:
#fillna, PERMITE RELLENAR LOS VALORES FALTANTES CON ALGÚN VALOR
#ESTE COMANDO SOLO MUESTRA UNA VISTA, NO MODIFICA; PARA MODIFICAR TIENES QUE REASIGNAR EL DATASET
DATASET_BK["Stars"] = DATASET_BK["Stars"].fillna(DATASET_BK["Stars"].median())

In [155]:
#fillna, PERMITE RELLENAR LOS VALORES FALTANTES CON ALGÚN VALOR
#ESTE COMANDO SOLO MUESTRA UNA VISTA, NO MODIFICA; PARA MODIFICAR TIENES QUE REASIGNAR EL DATASET
DATASET_BK["Stars"] = DATASET_BK["Stars"].fillna(DATASET_BK["Stars"].quantile(0.75))

In [168]:
#fillna, PERMITE RELLENAR LOS VALORES FALTANTES CON ALGÚN VALOR
#ESTE COMANDO SOLO MUESTRA UNA VISTA, NO MODIFICA; PARA MODIFICAR TIENES QUE REASIGNAR EL DATASET
DATASET_BK["Stars"] = DATASET_BK["Stars"].fillna(method="ffill")

In [171]:
#fillna, PERMITE RELLENAR LOS VALORES FALTANTES CON ALGÚN VALOR
#ESTE COMANDO SOLO MUESTRA UNA VISTA, NO MODIFICA; PARA MODIFICAR TIENES QUE REASIGNAR EL DATASET
DATASET_BK["Stars"] = DATASET_BK["Stars"].fillna(method="backfill")

In [172]:
DATASET_BK.head()

,time,Rank,Product Names,Stars,Reviews,Price_std_or_min
0,2020-08-01 18:22,1,"Wacom One CTL472 - Mesa Digitalizadora, Preto ...",4.8,NaN,379.00
1,2020-08-01 18:22,2,Multilaser MO251 - Mouse Sem Fio 2.4 Ghz 1200 ...,4.8,NaN,29.90
2,2020-08-01 18:22,3,"Suporte para Notebook, OCTOO, Uptable, UP-BL, ...",4.8,NaN,47.54
3,2020-08-01 18:22,4,Repetidor Expansor TP-Link Wi-Fi Network 300Mb...,4.8,NaN,151.99
4,2020-08-01 18:22,5,Mouse Logitech M170 Wireless Preto - 910-004940,4.8,NaN,58.13

## PARTE 17.4: VARIABLES DUMMIES

In [188]:
import pandas as pd
RUTA = "DATASETS - CERTIFICACIÓN/17_4_DUMMY_SUICIDE_RATE.csv"
DATASET = pd.read_csv(RUTA)

In [189]:
DUMMY_SEX = pd.get_dummies(DATASET["sex"],prefix="sex")

In [190]:
#AXIS = 1 --> ADICIONAR COLUMNAS (DEBEN TENER LA MISMA CANTIDAD DE FILAS)
#AXIS = 0 --> ADICIONAR FILAS (DEBEN TENER LA MISMA CANTIDAD DE COLUMNAS)
DATASET = pd.concat([DATASET,DUMMY_SEX],axis = 1)

In [191]:
#AXIS = 1 --> ELIMINAR COLUMNAS 
#AXIS = 0 --> ELIMINAR FILAS 
DATASET = DATASET.drop(["sex"],axis= 1)

In [193]:
DATASET.head()

,country,year,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,sex_female,sex_male
0,Albania,1987,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X,0,1
1,Albania,1987,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent,0,1
2,Albania,1987,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X,1,0
3,Albania,1987,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,0,1
4,Albania,1987,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers,0,1